@model PayCalc_Project.Models.TemporaryEmployeeSalary
@{
    ViewData["Title"] = "Read Employee";
}
<!-- Have label to the left input to the right-->
<div class="text-center">
    <h1 class="display-4"></h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Employee</h5>
            <p class="card-text">Information about employee</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.FirstName</li>
            <li class="list-group-item">@Model.LastName</li>
            <li class="list-group-item">@Model.DayRate</li>
            <li class="list-group-item">@Model.WeeksWorked</li>
            <li class="list-group-item">@Model.SalaryAfterTax</li>
        </ul>
        <div class="card-body">
            <a asp-area="" asp-controller="TemporaryEmployee" asp-action="EmployeeList" class="card-link">Go Back</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>