@model DetailedTemporaryEmployeeViewModel
@{
    ViewData["Title"] = "Read Employee";
}
<div class="text-center">
    <h1 class="display-4"></h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Employee.Fullname</h5>
            <p class="card-text">Information about employee</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Employee.FirstName</li>
            <li class="list-group-item">@Model.Employee.LastName</li>
            <li class="list-group-item">@Model.Employee.DayRate</li>
            <li class="list-group-item">@Model.Employee.WeeksWorked</li>
            <li class="list-group-item">@Model.Employee.SalaryAfterTax</li>
            <li class="list-group-item">Start Date: @Model.Employee.StartDate</li>
            <li class-"list-group-item">Weeks Worked Since Start Date: @Model.WeeksWorkedSinceStartDate</li>
        </ul>
        <div class="card-body">
            <a asp-area="" asp-controller="TemporaryEmployee" asp-action="EmployeeList" class="card-link">Go Back</a>
            <a asp-controller="TemporaryEmployee" asp-action="UpdateEmployee" asp-route-id="@Model.Employee.ID" class="card-link">Update Employee</a>
            <a asp-controller="TemporaryEmployee" asp-action="DeleteEmployee" asp-route-id="@Model.Employee.ID" class="card-link">Delete Employee</a>
        </div>
    </div>
</div>