@model PayCalc_Project.Models.PermanentEmployeeSalary
@{
    ViewData["Title"] = "Read Employee";
}
<div class="text-center">
    <h1 class="display-4"></h1>

    <div  class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.Fullname</h5>
    <p class="card-text">Information about employee</p>
  </div>
  <ul class="list-group list-group-flush">
            <li class="list-group-item">First Name: @Model.FirstName</li>
            <li class="list-group-item">Last Name: @Model.LastName</li>
            <li class="list-group-item">Salary: @Model.Salary</li>
            <li class="list-group-item">Bonus: @Model.Bonus</li>
            <li class="list-group-item">Income After Tax: @Model.SalaryAfterTax</li>
  </ul>
  <div class="card-body">
            <a asp-area="" asp-controller="PermanentEmployee" asp-action="EmployeeList" class="card-link">Go Back</a>
            <a asp-controller="PermanentEmployee" asp-action="UpdateEmployee" asp-route-id="@Model.ID" class="card-link">Update Employee</a>
            <a asp-controller="PermanentEmployee" asp-action="DeleteEmployee" asp-route-id="@Model.ID" class="card-link">Delete Employee</a>
  </div>
</div>
</div>