@model PayCalc_Project.Models.PermanentEmployeeSalary
@{
    ViewData["Title"] = "Read Employee";
}
<div class="text-center">
    <h1 class="display-4"></h1>

    <div  class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Employee</h5>
    <p class="card-text">Information about employee</p>
  </div>
  <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.FirstName</li>
            <li class="list-group-item">@Model.LastName</li>
            <li class="list-group-item">@Model.Salary</li>
            <li class="list-group-item">@Model.Bonus</li>
            <li class="list-group-item">@Model.SalaryAfterTax</li>
  </ul>
  <div class="card-body">
            <a asp-area="" asp-controller="PermanentEmployee" asp-action="EmployeeList" class="card-link">Go Back</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>